@model Proyecto_Herramientas.ViewModels.ATMViewModel
@{
}
<link href="~/css/ATMBalanceStyle.css" rel="stylesheet" asp-append-version="true"/>
<h1>Sr/a @Model.User.FirstName @Model.User.LastName</h1>
<p>El saldo actual de su cuenta @Model.Account.AccountNumber es </p>
<h2>@Model.Account.Balance.ToString("C")
</h2>
<button type="button" class="login-btn" id="Botonsalir">Regresar</button>
<script src="~/js/atmbalancefy.js" asp-append-version="true"></script>
<script>
    window.redirectToATM = '@Url.Action("ATM", "ATM")';
</script>
