@model Proyecto_Herramientas.ViewModels.ATMViewModel
@{
    var accountNumber = ViewBag.AccountNumber;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link href="~/css/ATMMovementsStyle.css" rel="stylesheet" asp-append-version="true" />
<body>

    <h1 class="title">Movimientos</h1>
    <p class="user-name">Sr/a @Model.User.FirstName @Model.User.LastName</p>
    <p class="description">Los movimientos de su cuenta #@Model.Account.AccountNumber son</p>
    <div class="table-container">
    <table class="movements-table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo de Movimiento</th>
                <th>Monto</th>
                <th>Cuenta de Origen</th>
                <th>Cuenta de Destino</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Movements != null && Model.Movements.Any())
            {
                foreach (var movement in Model.Movements)
                {
                    <tr>
                        <td>@movement.TransactionDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        @if (movement.TransactionTId == 3 && movement.DestinyAccount == Model.AccountNumberL)
                        {
                            <td>Transferencia recibida</td>
                        }
                        else
                        {
                            <td>@movement.movementTypeName</td>
                        }

                        <td>@movement.Amount.ToString("C")</td>
                        <td>@(movement.OriginAccountNavigation?.AccountNumber.ToString() ?? "No aplica")</td>
                        <td>@(movement.DestinyAccountNavigation?.AccountNumber.ToString() ?? "No aplica")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No hay movimientos registrados.</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <button class="back-btn" id="BotonSalir">Regresar</button>

    <script src="~/js/atmmovemets.js" asp-append-version="true"></script>
    <script>
        window.redirectToATM = '@Url.Action("ATM", "ATM")';
    </script>
</body>
</html>
